In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import folium

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

#Support Vector Machines (SVM)

import sys
import os

random_state = 10

backend_path = os.path.abspath('../backend')
sys.path.append(backend_path)
from get_metrics import get_metrics_regression, get_metrics_classification
from check_overfitting import check_overfitting

In [8]:
# Чтение DataFrame df в файл data/df.csv
df = pd.read_csv('../data/df.csv')

In [9]:
# преобразуем столбец datetime в формат datetime64[ns]
df['datetime'] = pd.to_datetime(df['datetime'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3357036 entries, 0 to 3357035
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   milliseconds    int64
 1   place           object
 2   status          object
 3   tsunami         int64
 4   significance    int64
 5   data_type       object
 6   magnitude       float64
 7   country         object
 8   longitude       float64
 9   latitude        float64
 10  depth           float64
 11  datetime        datetime64[ns]
 12  timezone        object
 13  magnitude_bins  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 358.6+ MB

In [11]:
# дропаем ненужные колонки для обучения
df = df.drop(['milliseconds', 'place', 'status', 'tsunami', 'data_type', 'country', 'timezone'], axis=1)
df[:10]

,significance,magnitude,longitude,latitude,depth,datetime,magnitude_bins
0,96,2.50,-149.669200,61.730200,30.100,1990-01-01 00:22:33,green
1,31,1.41,-155.212333,19.317667,6.585,1990-01-01 00:24:51,green
2,19,1.11,-122.806167,38.821000,3.220,1990-01-01 00:34:43,green
3,15,0.98,-118.846333,37.664333,-0.584,1990-01-01 00:58:32,green
4,134,2.95,-118.934000,34.546000,16.122,1990-01-01 01:03:44,green
5,118,2.77,-118.923000,34.543000,16.342,1990-01-01 01:04:13,green
6,20,1.13,-119.040000,37.632667,-1.499,1990-01-01 01:07:10,green
7,11,0.83,-118.834167,37.661500,0.556,1990-01-01 01:13:51,green
8,39,1.59,-118.840167,37.662333,-0.234,1990-01-01 01:16:54,green
9,74,2.20,-122.071167,47.102500,8.382,1990-01-01 01:17:00,green

In [14]:
X = df.drop(['magnitude', 'longitude', 'latitude'], axis=1)
y = df[['magnitude', 'longitude', 'latitude']]

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    #stratify=y,
                                                    random_state=random_state)

In [18]:
X

         significance    depth            datetime magnitude_bins
0                  96   30.100 1990-01-01 00:22:33          green
1                  31    6.585 1990-01-01 00:24:51          green
2                  19    3.220 1990-01-01 00:34:43          green
3                  15   -0.584 1990-01-01 00:58:32          green
4                 134   16.122 1990-01-01 01:03:44          green
...               ...      ...                 ...            ...
3357031           326   83.039 2023-07-29 10:34:11         orange
3357032            44   24.400 2023-07-29 10:36:15          green
3357033            90    1.770 2023-07-29 10:40:15          green
3357034            16    1.720 2023-07-29 10:55:46          green
3357035            12  250.000 2023-07-29 11:08:57          green

[3357036 rows x 4 columns]